<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>console.❤</title>
      <meta name="description" content="A collection of funny, quirky and lovely console messages from around the web">
    <link rel="stylesheet" href="{{ '/assets/css/global.css' | url }}">
</head>
<body>
    <div class="wrapper">
        {% block content %}{% endblock %}
    </div>
    <script type="text/javascript">
        console.log("%c+","font-size: 1px; padding: 100px; background-image: url(https://media.giphy.com/media/J0WeVOLjuqW2I/200w_d.gif); background-size: contain; background-repeat: no-repeat; color: transparent;");
    </script>
</body> 
</html>