{% block content %}
    <li class="site">
        <a href="{{site.data.url}}" target="_blank" class="site-url">
            <div class="site-thumbnail-wrapper"><img src="assets/img/site-thumbnails/{{site.data.thumbnail}}" alt="{{site.data.title}}" class="site-thumbnail"></div>
            <div class="site-title">{{site.data.title}}</div>
        </a>
    </li>
{% endblock %}